{{define "post"}}
<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    <header>
      <h1>gypsydave5</h1>
      <p>The blog of David Wickes, software developer</p>
    </header>
    <main>
      {{template "article" .Post}}
    </main>
    <aside>
      {{template "postlist" .PostList}}
    </aside>
  </body>
</html>
{{end}}

{{define "postlist"}}
<ul>
{{range .}}<li><a href="/posts/{{.Path}}">{{.TitleText}}</a></li>{{end}}
</ul>
{{end}}

{{define "article"}}
<h1>{{.Title}}</h1>
<time datetime="{{.Date.Format "2006-01-02T15:04"}}" >{{.Date.Format "Jan 02, 2006"}}</time>
<section>{{.Body}}</section>
{{end}}

{{define "head"}}
  <head>
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="text/x-mathjax-config;executed=true">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      displayAlign: "left",
      displayIndent: "2em"
    });
    </script>
  </head>
{{end}}

{{define "index"}}
<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    <header>
      <h1>gypsydave5</h1>
      <p>The blog of David Wickes, software developer</p>
    </header>
    <main>
    {{template "postlist" .}}
    </main>
  </body>
</html>
{{end}}

{{define "page"}}

{{end}}

{{define "draft"}}
<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    <main>
      <p><strong>DRAFT - work in progress</strong></p>
      {{template "article" .Draft}}
    </main>
  </body>
</html>
{{end}}

