{{define "main"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="text/x-mathjax-config;executed=true">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      displayAlign: "left",
      displayIndent: "2em"
    });
    </script>
  </head>
  <body>
    <header>
      <h1>gypsydave5</h1>
      <p>The blog of David Wickes, software developer</p>
    </header>
    <main>
      {{template "post" .Post}}
    </main>
    <aside>
      {{template "postlist" .PostList}}
    </aside>
  </body>
</html>
{{end}}

{{define "postlist"}}
<ul>
{{range .}}<li><a href="/posts/{{.Path}}">{{.TitleText}}</a></li>{{end}}
</ul>
{{end}}

{{define "post"}}
<h1>{{.Title}}</h1>
<time datetime="{{.Date.Format "2006-01-02T15:04"}}" >{{.Date.Format "Jan 02, 2006"}}</time>
<section>{{.Body}}</section>
{{end}}
